<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Exercise - Results</title>
</head>
<body>
    
    <table>
        <tr data-th-each="theNumberIWant: ${numbers}">
            <td>
                
                    <!-- <span data-th-text="${theNumberIWant}"> -->
                    <img th:src="@{${'/' + theNumberIWant + '.jpg'}}" width="150px" height="150px">
                    <!-- <span> -->
                
            </td>
        </tr>
    </table>

</body>
</html>